h1 {
  font-size: 10rem;
}

h2 {
  font-size: 7.5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Abril Fatface", cursive;
}

body {
  background-color: #252525;
  overflow-x: hidden;
}

#logo {
  color: white;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #252525;
}

.hero-disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lake-span {
  color: rgb(16, 218, 201);
}

.lights-span {
  color: rgb(10, 57, 12);
}

.paris-span {
  color: rgb(241, 216, 147);
}

.hero-disc h2 {
  font-size: 5rem;
}

.hero-disc p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: white;
}

.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 4rem;
  flex-basis: 30rem;
}

.nav-links h3 {
  padding: 3rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 5rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: #252525;
  left: 0;
  top: -15%;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.scrollmagic.pin.spacer {
  position: static !important;
}

.cursor.explore-active {
  background: white;
  transform: scale(3);
}

.cursor.nav-active {
  background: rgb(121, 121, 121);
  opacity: 75%;
  transform: scale(3);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}

.titel-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.title {
  position: relative;
  overflow: hidden;
}

.t-swipe1 {
  background: rgb(16, 218, 201);
}

.t-swipe2 {
  background: rgb(10, 57, 12);
}

.t-swipe3 {
  background: rgb(241, 216, 147);
}

body.hide {
  overflow: hidden;
}

.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}

.fashion-img {
  height: 80vh;
  flex-basis: 30rem;
}

/*# sourceMappingURL=main.css.map */
